* {
    height: 100vh;
    font-style: italic;
}

h1 {
    color: darkblue;
    text-decoration: underline;
    font-size: 3em;
}

.background {
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > * {
    flex-grow: 1;
    flex-basis: 1;
}

img {
    border: 1px solid;
}

button {
    background-color:lightgrey;
    justify-content: center;
}
