<head>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Roboto" rel="stylesheet">
</head>
<div class="background">
    <h1><i class="fa fa-futbol-o" aria-hidden="true">I am the champ mofo !</i></h1>
    <h2>Da Best</h2>
    <h3>Seeeuw !</h3>
    <p> I strongly believe that we can win the champions league !</p>
    <div class="container">
        <img src="https://media.giphy.com/media/d9pqUPzPvO1Ec/giphy.gif" alt="Messi">
        <img src="https://media.giphy.com/media/ZDoJ0Rj05zqBG/giphy.gif" alt="Nutmeg">
        <img src="https://media.giphy.com/media/V9tI7jRQoe4Q8/giphy.gif" alt="Goal">
        <a href="https://www.uefa.com/"><img src="https://media.giphy.com/media/5haLplsVsUT7i/giphy.gif" alt="Da Best"></a>
    </div>
    <button type="submit"><img src="https://cdn.pixabay.com/photo/2013/07/12/14/09/football-147854_960_720.png" alt="Ball"></button>
</div>
